<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ba79f">  <td>21/08/19 10:27:18</td>   <td>0</td> <td title="&gt;&gt;BaseClass.loadAllExcelFiles()[pri:0, instance:org.verticurl.qa.utilities.ReadTestSuite@5f26cb8b]">&gt;&gt;loadAllExcelFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@475172655</td>   <td></td> </tr>
<tr bgcolor="6ba79f">  <td>21/08/19 10:27:20</td>   <td>2771</td> <td title="&lt;&lt;BaseClass.onFinish()[pri:0, instance:org.verticurl.qa.utilities.ReadTestSuite@5f26cb8b]">&lt;&lt;onFinish</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@475172655</td>   <td></td> </tr>
<tr bgcolor="d0b167">  <td>21/08/19 10:27:18</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReadTestSuite.readTestSuiteData()[pri:0, instance:org.verticurl.qa.utilities.ReadTestSuite@5f26cb8b]">readTestSuiteData</td> 
  <td>main@475172655</td>   <td></td> </tr>
</table>
