<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Verticurl_Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fee8e7">  <td>21/08/13 14:12:28</td>   <td>0</td> <td title="&gt;&gt;BaseClass.loadAllExcelFiles()[pri:0, instance:org.verticurl.qa.utilities.ReadTestSuite@75c072cb]">&gt;&gt;loadAllExcelFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@64133603</td>   <td></td> </tr>
<tr bgcolor="d9a694">  <td>21/08/13 14:12:28</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReadTestSuite.readTestSuiteData()[pri:0, instance:org.verticurl.qa.utilities.ReadTestSuite@75c072cb]">readTestSuiteData</td> 
  <td>main@64133603</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>21/08/13 14:13:52</td>   <td>84126</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:org.verticurl.qa.utilities.ReadTestSuite@75c072cb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@64133603</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>21/08/13 14:13:54</td>   <td>85405</td> <td title="&lt;&lt;BaseClass.onFinish()[pri:0, instance:org.verticurl.qa.utilities.ReadTestSuite@75c072cb]">&lt;&lt;onFinish</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@64133603</td>   <td></td> </tr>
</table>
